*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
/* https://fonts.google.com/ */
.navbar{
 display: flex;
 align-items: center;
 padding: 0px;
 margin: -40px;
}

nav{
    flex: 1;
    text-align: right;
   
}

nav ul{
display: inline-block;
list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right:20px;

}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: rgb(24, 22, 22);
}
    
.container{
    max-width: 10000px;
    margin:auto;
    padding-left: 70px;
    padding-right: 100px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    }
.col-2 img{
    max-width: 100%;
    padding: 50px 0px;
     
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 0px 25px;
}
.col-2 p{
    font-size: 30px;
    line-height: 50px;
    margin: 10px 25px;
}
 .btn{
display: inline-block;
background: #ff5523;
color: #fff;
padding:8px 30px;
margin:0px 24px;
border-radius:30px;
    }

    


