@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;1,300&display=swap");
$font_display: "Iceland", cursive;
$font_main: "Work Sans", sans-serif;
$font_main_italic: "Work Sans", sans-serif;
$gradient: linear-gradient(
  90deg,
  hsla(206, 91%, 66%, 1) 0%,
  hsla(190, 90%, 51%, 1) 100%
);

$dark: #353535;
$blue: #ffba08;
$dirty_white: #e9ecef;
* {
  box-sizing: border-box;
}
body {
  background-color: $dirty_white;
  max-width: 800px;
  margin: auto;
}
ul {
  list-style: none;
}
h1 {
  text-align: center;
  color: $dirty_white;
  font-family: $font_display;
  font-size: 45px;
  padding: 15px;
  & i {
    font-size: 35px;
    color: $dirty_white;
    padding: 10px;
  }
}

.container--start {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  top: 200px;
  margin: auto;
  width: 500px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: $dark;
  & form {
    position: relative;
    width: 80%;
    left: 10%;
    & button {
      height: 25px;
      background: $gradient;
      border: none;
      outline: none;
      color: $dirty_white;
      padding: 2px;
      width: 7rem;
      font-family: $font_main;
    }
    & input {
      height: 25px;
      background-color: $dirty_white;
    }
  }
}
em {
  color: $dirty_white;
  position: relative;
  top: -15%;
  left: 50%;
  font-family: $font_main_italic;
  font-weight: 300;
  font-size: 12px;
}
::placeholder {
  color: black;
}

.tab-container {
  display: grid;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
  grid-row: 3;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 15px;
  margin: auto;
}
.tab-content-1 {
  display: none;
  grid-row: 2;
}

.tab-content-2 {
  display: none;
  grid-row: 2;
}
.tab-content-3 {
  display: none;
  grid-row: 2;
}
.tab-content-4 {
  display: none;
  grid-row: 2;
}

.tab-content-5 {
  display: none;
  grid-row: 2;
}
.tab-content-6 {
  display: none;
  grid-row: 2;
}
.tab-button {
  width: 80%;
  height: 40px;
  padding: 10px;
  margin: auto;
  text-align: center;
  font-family: $font_main;
  background-color: $dirty_white;
}

.active-tab {
  display: block;
  position: relative;
  text-align: center;
  animation: slideUp 0.3s forwards;
  border: none;
  outline: none;
  font-family: $font_main;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
  background: $gradient;
  color: $dirty_white;
  font-weight: 700;
}

@keyframes slideUp {
  from {
    top: 0%;
  }
  to {
    top: -10%;
  }
}

.content-active {
  display: block;
  color: black;
  place-content: center;
  font-family: $font_main;
  color: $dirty_white;
  text-align: center;
  grid-column: 1/4;
}

.text {
  position: relative;
  top: 20px;
}
